@import "../../../../styles.scss";

$arrowWidth: 100px;

.slide-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  position: relative;
  // background: red;

  .arrow {
    width: $arrowWidth;
    height: 100%;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    cursor: pointer;
    // background: darkcyan;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    i {
      text-shadow: 0 0 10px #{$light-text};
    }
  }

  .slides {
    width: calc(100vw - #{$arrowWidth} * 2);
    // background: lightcoral;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .slide {
      width: 300px;
      height: auto;
      cursor: pointer;
      margin: 20px;
      transition: all 0.4s ease-in-out;
      transform-style: preserve-3d;

      &:hover {
        transform: scale(1.15);
      }

      &:nth-child(1) {
        transform: perspective(100vw) translateZ(-300px) rotateY(-45deg);
      }

      &:nth-child(2) {
      }

      &:nth-child(3) {
        transform: perspective(100vw) translateZ(-200px) rotateY(45deg);
      }
    }
  }
}

.selected-slide-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: maroon;

  mat-card {
    // width: 100%;
    // height: 100%;
  }
}
