<h1>{{ "the-book.characters.title" | transloco }}</h1>

<div class="character-container">
  <mat-card
    class="character"
    *ngFor="let character of characters"
    (click)="handleSelectCharacter(character.name)"
  >
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle>
      {{ character.age }}<br />
      {{
      "the-book.characters.jobs." + character.job | transloco
    }}</mat-card-subtitle>
    <img
      mat-card-image
      [src]="'/assets/images/characters/' + character.imagePath"
    />
  </mat-card>
</div>
