:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 768px;
  max-height: calc(100vh - 164px);

  form {
    display: flex;
    flex-direction: column;
  }
}
