@import '../styles.scss';

.brand {
  margin-right: 20px;
}

.spacer {
  flex: 1 1 auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 164px);
  background: url('../assets/images/home.jpg');
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #{$light-bg-darker-20};

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    cursor: pointer;
  }
}
