<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brand">{{ 'title' | transloco }}</span>

    <button mat-button [matMenuTriggerFor]="book">
      {{ 'menu.the-book.title' | transloco }}
    </button>
    <mat-menu #book="matMenu">
      <button mat-menu-item routerLink="/das-buch/schauplaetze">{{ 'menu.the-book.scenes' | transloco }}</button>
      <button mat-menu-item routerLink="/das-buch/charaktere">
        {{ 'menu.the-book.characters' | transloco }}
      </button>
      <button mat-menu-item>{{ 'menu.the-book.extract' | transloco }}</button>
      <button mat-menu-item>{{ 'menu.the-book.download' | transloco }}</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="background">
      {{ 'menu.background.title' | transloco }}
    </button>
    <mat-menu #background="matMenu">
      <button mat-menu-item>
        {{ 'menu.background.overtourism' | transloco }}
      </button>
      <button mat-menu-item>
        {{ 'menu.background.green-conscience' | transloco }}
      </button>
    </mat-menu>

    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div routerLink="/contact">{{ 'footer.contact' | transloco }}</div>
  <div routerLink="/imprint">{{ 'footer.imprint' | transloco }}</div>
</footer>
