<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="brand">{{ 'title' | transloco }}</span>

    <!-- The Book -->
    <button mat-button [matMenuTriggerFor]="book">
      {{ 'menu.the-book.title' | transloco }}
    </button>
    <mat-menu #book="matMenu">
      <button mat-menu-item [routerLink]="'the-book.scenes.path' | transloco">
        {{ 'menu.the-book.scenes' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'the-book.characters.path' | transloco"
      >
        {{ 'menu.the-book.characters' | transloco }}
      </button>
      <button mat-menu-item [routerLink]="'the-book.extracts.path' | transloco">
        {{ 'menu.the-book.extracts' | transloco }}
      </button>
      <button mat-menu-item [routerLink]="'the-book.download.path' | transloco">
        {{ 'menu.the-book.download' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'the-book.literature.path' | transloco"
      >
        {{ 'menu.the-book.literature' | transloco }}
      </button>
    </mat-menu>

    <!-- Background -->
    <button mat-button [matMenuTriggerFor]="background">
      {{ 'menu.background.title' | transloco }}
    </button>
    <mat-menu #background="matMenu">
      <button
        mat-menu-item
        [routerLink]="'background.overtourism.path' | transloco"
      >
        {{ 'menu.background.overtourism' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'background.ecotourism.path' | transloco"
      >
        {{ 'menu.background.ecotourism' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'background.green-conscience.path' | transloco"
      >
        {{ 'menu.background.green-conscience' | transloco }}
      </button>
    </mat-menu>

    <!-- Planet Earth Network -->
    <button mat-button [matMenuTriggerFor]="planetEarthNetwork">
      {{ 'menu.planet-earth-network.title' | transloco }}
    </button>
    <mat-menu #planetEarthNetwork="matMenu">
      <button
        mat-menu-item
        [routerLink]="'planet-earth-network.history.path' | transloco"
      >
        {{ 'menu.planet-earth-network.history' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'planet-earth-network.philosophy.path' | transloco"
      >
        {{ 'menu.planet-earth-network.philosophy' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'planet-earth-network.discovery-spheres.path' | transloco"
      >
        {{ 'menu.planet-earth-network.discovery-spheres' | transloco }}
      </button>
      <button
        mat-menu-item
        [routerLink]="'planet-earth-network.check-online.path' | transloco"
      >
        {{ 'menu.planet-earth-network.check-online' | transloco }}
      </button>
    </mat-menu>

    <!-- Quiz -->
    <button mat-button [routerLink]="'quiz.path' | transloco">
      {{ 'menu.quiz.title' | transloco }}
    </button>

    <!-- Contact -->
    <button mat-button [routerLink]="'contact.path' | transloco">
      {{ 'menu.contact.title' | transloco }}
    </button>

    <!-- Imprint -->
    <button mat-button [routerLink]="'imprint.path' | transloco">
      {{ 'menu.imprint.title' | transloco }}
    </button>

    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
