:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 768px;
  max-height: calc(100vh - 164px);
  overflow-y: auto;

  mat-card-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    mat-tree {
      width: 150px;
      height: 100%;
    }

    table {
      width: calc(100% - 150px);
    }
  }
}
