:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-card {
  width: 300px;

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}
