<mat-card>
  <mat-card-title>{{ "disclaimer.title" | transloco }}</mat-card-title>
  <mat-card-content>
    <section>
      <h3>{{ "disclaimer.content.headline" | transloco }}</h3>
      <p>{{ "disclaimer.content.content" | transloco }}</p>
    </section>

    <section>
      <h3>{{ "disclaimer.links.headline" | transloco }}</h3>
      <p>{{ "disclaimer.links.content" | transloco }}</p>
    </section>

    <section>
      <h3>{{ "disclaimer.copyright.headline" | transloco }}</h3>
      <p>{{ "disclaimer.copyright.content" | transloco }}</p>
    </section>
  </mat-card-content>
</mat-card>
